extends layout

include mixins/_breadcrumb

block content
  .layout-centered
    .error
      h1 #{somethingWentWrongLabel} (#{status})
      h2 #{tryLabel}
      ul
        each hint in hints
          li #{hint}
      if responseData
        h2 #{responseDataLabel}
        pre.error__stack-trace
          code.shell #{responseData}
      if stack
        //
          #{stackTraceLabel}
          #{stack}
