extends layout

include mixins/_breadcrumb

block content
  .layout-centered
    +breadcrumb
    h1= title
    table
      tbody
        tr
          th #{companyLabel}:
          td Contentful GmbH
        tr
          th #{officeLabel}:
          td
            | Ritterstr. 12-14
            br
            |  10969 Berlin
            br
            |  #{germanyLabel}
        tr
          th #{registrationCourtLabel}:
          td Berlin-Charlottenburg HRB 155607 B
        tr
          th #{managingDirectorLabel}:
          td Sascha Konietzke
        tr
          th #{vatNumberLabel}:
          td DE275148225
