doctype html
html
  head
    title= base.meta.title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content=base.meta.description)
    meta(name='twitter:card' content=base.meta.twitterCard)
    meta(property='og:title' content=base.meta.title)
    meta(property='og:type' content='article')
    meta(property='og:url' content='http://contentful-example-app-java.herokuapp.com/!{base.meta.currentPath}')
    meta(property='og:image' content='http://contentful-example-app-java.herokuapp.com/og-image.jpg')
    meta(property='og:image:type' content='image/jpeg')
    meta(property='og:image:width' content='1200')
    meta(property='og:image:height' content='1200')
    meta(property='og:image:alt' content=base.meta.imageAlt)
    meta(property='og:description' content=base.meta.imageDescription)
    link(rel='apple-touch-icon' sizes='120x120' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/manifest.json')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#4a90e2')
    meta(name='theme-color' content='#ffffff')
  body
    main.main
      .main__header
        header.header
          .header__upper-wrapper
            .header__upper.layout-centered
              .header__upper-title
                a.header__upper-link#about-this-modal-trigger(href='#')
                  svg.header__upper-icon
                    use(xlink:href='/icons/icons.svg#info')
                  span #{base.meta.whatIsThisApp}
              .header__upper-copy
                a.header__upper-link(href='https://github.com/contentful/the-example-app.java' target='_blank' rel='noopener')
                  svg.header__upper-icon
                    use(xlink:href='/icons/icons.svg#github')
                  | #{base.meta.viewOnGitHub}
              .header__controls
                .header__controls_group
                  form(action='' method='get')
                    .header__controls_label API: #{base.api.currentApiLabel}
                    .header__controls_dropdown
                      .header__controls_help_text #{base.api.apiSwitcherHelp}
                      button.header__controls_button(
                        type='submit'
                        name='api'
                        value='cda'
                        class='!{base.api.cdaButtonCSSClass}'
                      )
                        | #{base.api.contentDeliveryApiLabel}:
                        br
                        span.header__controls_button_help= base.api.contentDeliveryApiHelp
                      button.header__controls_button(
                        type='submit'
                        name='api'
                        value='cpa'
                        class='!{base.api.cpaButtonCSSClass}'
                      )
                        | #{base.api.contentPreviewApiLabel}:
                        br
                        span.header__controls_button_help= base.api.contentPreviewApiHelp
                    input(type='hidden' name='locale' value=base.locales.currentLocaleCode)

                .header__controls_group
                  form(action='' method='get')
                    input(type='hidden' name='api' value=base.api.currentApiId)
                    .header__controls_label #{base.locales.localeLabel}: #{base.locales.currentLocaleName}
                    .header__controls_dropdown
                      .header__controls_help_text #{base.locales.localeQuestion}
                      each locale in base.locales.locales
                        button.header__controls_button(type='submit' name='locale' value=locale.code class=locale.cssClass) #{locale.name} (#{locale.code})
              .header__upper-menu
                a(href='/settings/!{base.meta.queryString}' class='!{base.meta.upperMenuCSSClass}') #{base.meta.settingsLabel}
          .header__lower-wrapper
            .header__lower.layout-centered
              .header__logo
                a.header__logo-link(href='/!{base.meta.queryString}')
                  img(src='/images/the-example-app-logo-java.svg' alt=base.meta.logoAlt)
              nav.header__navigation.main-navigation
                ul
                  li
                    a(href='/' class='!{base.meta.homeCSSClass}') #{base.meta.homeLabel}
                  li
                    a(href='/courses' class='!{base.meta.coursesCSSClass}' ) #{base.meta.coursesLabel}
      .main__content
        block content

      .main__footer
        .layout-centered
          footer.footer
            .footer__upper
              nav.footer__navigation.main-navigation
                ul
                  li
                    a(href='!{base.meta.queryString}' class='!{base.meta.homeCSSClass}') #{base.meta.homeLabel}
                  li
                    a(href='/courses!{base.meta.queryString}' class='!{base.meta.coursesCSSClass}' ) #{base.meta.coursesLabel}
              .footer__apps
                //- a(href='#')
                //-   img(src='/images/badge-app-store.svg')
                //- a(href='#')
                //-   img(src='/images/badge-google-play.svg')
            .footer__lower
              .footer__logo
                a(href='https://www.contentful.com/' target='_blank' rel='noopener')
                  img.footer__disclaimer-logo(src='/images/contentful-logo.svg')
              .footer__disclaimer
                p.footer__disclaimer-text
                  | #{base.meta.footerDisclaimer}&nbsp;
                  a(href='https://github.com/contentful/the-example-app.java' target='_blank' rel='noopener') #{base.meta.viewOnGitHub}
                  | .&nbsp;
                  a(href='/imprint/!{queryString}' ) #{base.meta.imprintLabel}
                  | .&nbsp;
                  a(href='https://www.contentful.com/contact/' target='_blank') #{base.meta.contactUsLabel}
                  | .
              .footer__social
                p
                  a(href='https://www.facebook.com/contentful/' target='_blank' rel='noopener')
                    svg
                      use(xlink:href='/icons/icons.svg#facebook')
                  a(href='https://twitter.com/contentful' target='_blank' rel='noopener')
                    svg
                      use(xlink:href='/icons/icons.svg#twitter')
                  a(href='https://github.com/contentful' target='_blank' rel='noopener')
                    svg
                      use(xlink:href='/icons/icons.svg#github')
    section.modal#about-this-modal
      .modal__overlay.close
      .modal__wrapper
        h1.modal__title #{base.meta.modalTitle}
        .modal__content
          p #{base.meta.modalIntro}&nbsp;
            a(href='https://github.com/contentful/the-example-app.java' target='_blank' rel='noopener') GitHub
            | .
          p
            | #{base.meta.modalSpaceIntro}&nbsp;
            a(href='https://github.com/contentful/content-models/blob/master/the-example-app/README.md ' target='_blank' rel='noopener')=base.meta.modalSpaceLinkLabel
            | .
          p #{base.meta.modalPlatforms}
            ul
              li
                img(src='/images/icon-nodejs.svg')
                br
                a(href="https://the-example-app-nodejs.herokuapp.com/" rel="noopener" target="_blank")= base.meta.hostedLabel
                br
                a(href="https://github.com/contentful/the-example-app.nodejs" rel="noopener" target="_blank") GitHub
              li
                img(src='/images/icon-dotnet.svg')
                br
                a(href="https://the-example-app-csharp.herokuapp.com/" rel="noopener" target="_blank")= base.meta.hostedLabel
                br
                a(href="https://github.com/contentful/the-example-app.csharp" rel="noopener" target="_blank") GitHub
              li
                img(src='/images/icon-ruby.svg')
                br
                a(href="https://the-example-app-rb.herokuapp.com/" rel="noopener" target="_blank")= base.meta.hostedLabel
                br
                a(href="https://github.com/contentful/the-example-app.rb" rel="noopener" target="_blank") GitHub
              li
                img(src='/images/icon-php.svg')
                br
                a(href="https://the-example-app-php.herokuapp.com/" rel="noopener" target="_blank")= base.meta.hostedLabel
                br
                a(href="https://github.com/contentful/the-example-app.php" rel="noopener" target="_blank") GitHub
              li
                img(src='/images/icon-python.svg')
                br
                a(href="https://the-example-app-py.herokuapp.com/" rel="noopener" target="_blank")= base.meta.hostedLabel
                br
                a(href="https://github.com/contentful/the-example-app.py" rel="noopener" target="_blank") GitHub
              li
                img.inactive(src='/images/icon-swift.svg')
                br
                = base.meta.comingSoonLabel
              li
                img.inactive(src='/images/icon-java.svg')
                br
                = base.meta.comingSoonLabel
              li
                img.inactive(src='/images/icon-android.svg')
                br
                = base.meta.comingSoonLabel
        .modal__cta-wrapper
          a(href='#').modal__cta.close #{base.meta.modalCTALabel}
        .modal__close-wrapper
          a(href='#').modal__close-button.close
            svg
              use(xlink:href='/icons/icons.svg#cross')

    script(src='/scripts/index.js')

    <!--ANALYTICS-->
