extends layout

include mixins/_breadcrumb

mixin renderErrors (errors)
  each message in errors
    .form-item__error-wrapper
      svg.form-item__error-icon
          use(xlink:href='/icons/icons.svg#error')
      .form-item__error-message= message

block content
  .layout-centered-small
    +breadcrumb
    h1= title
    p #{settingsIntroLabel}

    if success
      .status-block.status-block--success
        svg.status-block__icon.status-block__icon--success
          use(xlink:href='/icons/icons.svg#success')
        .status-block__content
          .status-block__title #{changesSavedLabel}

    if hasErrors
      .status-block.status-block--error
        svg.status-block__icon.status-block__icon--error
          use(xlink:href='/icons/icons.svg#error')
        .status-block__content
          .status-block__title #{errorOcurredTitleLabel}
          .status-block__message #{errorOcurredMessageLabel}

    if space && !hasErrors
      .status-block.status-block--info
        svg.status-block__icon.status-block__icon--info
          use(xlink:href='/icons/icons.svg#info')
        .status-block__content
          .status-block__message #{connectedToSpaceLabel} “#{space.name}”

    form(action='/settings' method="POST" class="form")
      .form-item
        input(type="hidden" name="qs" value=queryString)
        label(for="input-space-id") #{spaceIdLabel}
        input(type="text" name="spaceId" id="input-space-id" value=settings.spaceId)
        if 'spaceId' in errors
          +renderErrors(errors.spaceId)
        .form-item__help-text #{spaceIdHelpText}

      .form-item
        label(for="input-delivery-token") Content Delivery API - #{accessTokenLabel}
        input(type="text" name="deliveryToken" id="input-delivery-token" value=settings.deliveryToken)
        if 'deliveryToken' in errors
          +renderErrors(errors.deliveryToken)
        .form-item__help-text
          | #{contentDeliveryApiHelpText}&nbsp;
          a(href='https://www.contentful.com/developers/docs/references/content-delivery-api/' target='_blank' rel='noopener') Content Delivery API.

      .form-item
        label(for="input-preview-token") Content Preview API - #{accessTokenLabel}
        input(type="text" name="previewToken" id="input-preview-token" value=settings.previewToken)
        if 'previewToken' in errors
          +renderErrors(errors.previewToken)
        .form-item__help-text
          | #{contentPreviewApiHelpText}&nbsp;
          a(href='https://www.contentful.com/developers/docs/references/content-preview-api/' target='_blank' rel='noopener') Content Preview API.

      .form-item
        input(type="checkbox" name="editorialFeatures" id="input-editorial-features" checked=settings.editorialFeatures)
        label(for="input-editorial-features") #{enableEditorialFeaturesLabel}
        .form-item__help-text #{enableEditorialFeaturesHelpText}

      .form-item
        input.cta(type="submit" value=saveSettingsButtonLabel)
